.movie-director-bio > span.label,
.headline-director-mini-cards {
  display: block;
  margin: 15px 0;
}

.movie-director-birth > span.label,
.movie-director-death > span.label {
  font-weight: 400;
}

.card-group-director-mini-cards {
  margin-top: 10px;
}